body.page-template-page-client-comp-php {

  .navbar {
    margin-bottom: 0;
  }

  img.client-comp {
    position: relative;
    margin: 0 auto;
    display: block;
    max-width: initial;
  }

  // Hide elements
  .site-inner, .site-footer {
    display: none;
  }
}