// Style guide
body {
  font: 14px Georgia,Times,"Times New Roman",serif;
  line-height: 24px;
  color: #564E31;
  @media( max-width:767px ) {
    padding: 0;
  }
}

p {
  text-align: center;
  @media( max-width:767px ) {
    padding: 0 15px;
  }
}

header {
  display: none;
}

.site-inner {

  .navbar {

    .launch-logo {
      display: none;
    }

    .navbar-inner {
      background: #fff;
      border: 0;
      padding: 0;
      @include border-radius(0);
      @include box-shadow(none);
    }

    .container-fluid {
      padding: 0;
    }
  }

  .menu-client-list-menu-container {

    #menu-client-list-menu {
      margin: 0;
    }

    a[href="#"] {
      display: none;
    }

    li {
      list-style: none;
      &:first-child > a {
        display: none;
      }
    }

    .sub-menu {
      margin: 0;
      background-color: pink;

      > li {
        margin-left: 30px;
        &:first-child {
          margin-left: 0;
        }
      }

      > li > a {
        display: none;
      }

      li {
        float: left;
        display: inline-block;
        &:nth-child(5) {
          margin-top: 30px;
          @media ( min-width:1200px ) {
            clear: both;
            margin-left: 0;
          }
        }
        &:nth-child(4) {
          @media ( max-width:1200px ) {
            clear: both;
            margin-left: 0;
            margin-top: 30px;
          }
        }
        @media ( max-width:979px ) {
          width: 100%;
          margin-left: 0;
          margin-top: 30px;
        }

        .sub-menu {
          background-color: blue;
          @media ( max-width:979px ) {
            margin: 0 auto;
            width: 261px;
          }

          li {
            clear: both;
            display: inline-block;
            margin-top: 15px;
            margin-left: 0;
            a {
              text-transform: uppercase;
            }
            > a {
              text-align: center;
              vertical-align: middle;
              display: table-cell;
              background-color: #928E84;
              width: 261px;
              height: 72px;
              color: #fff;
              &:hover {
                text-decoration: none;
                color: #fff;
                background-color: #B2BB1C;
              }
            }
            &:first-child {
              > a {
                background-color: #554E33;
                &:hover {
                  text-decoration: none;
                  color: #fff;
                  background-color: #B2BB1C;
                }
              }
            }
          }
        }
      }
    }
  }
}