nav {
  background-color: #000;

  .launch-logo {
    float: left;
    width: 132px;
    height: 40px;
    margin-left: 20px;
    background: url("../images/launch-logo.png");
  }

  .container-fluid {
    padding: 0;
  }

  .navbar-inner {
    @include border-radius(0);
    background: #000;
    border: 0;
    padding: 5px 0;
  }

  .navbar .nav {
    float: right;
    color: #fff;

    li {
      margin-left: 15px;
      &:first-child {
        margin-left: 0;
      }

      a {
        color: #fff;
        text-shadow: none;
        background-color: #564e31;
        padding: 5px 19px 5px;
        margin-top: 5px;
        font-size: 14px;
        &:hover {
          background-color: #B2BB1C;
          color: #fff;
        }
      }
    }
  }
}