/* Variables
------------------------------------------------------------ */

$widgetFontColor: #333;
$widgetBgColor: #f5f5f5;
$widgetBorderColor: #e3e3e3;

$singleCommentBgColor: #f5f5f5;
$singleCommentPostAuthorBgColor: #fcf8e3;

$font: 'Open Sans', sans-serif;

$blue: #0875bc;

$archiveEntryBorderColor: #83868f;
$archiveEntrySpecSheetColor: #0875bc;
$archiveEntryCableKnowledgeColor: #dd6f19;

$tableBackgroundAccent: #f9f9f9; // for striping