/* Widget Styling
------------------------------------------------------------ */

// default widget styles
.widget {
    background-color: $widgetBgColor;
    border: 1px solid $widgetBorderColor;
    color: $widgetFontColor;
    padding: $paddingLarge; // Bootstrap Variable
    @include border-radius($borderRadiusLarge); // Bootstrap Variable
    margin-bottom:30px;
    h1, h2, h3, h4, h5, h6 {
        color: $widgetFontColor;
    }
    input,
    textarea,
    select {
        max-width: 100%;
    }
    ul {
        margin: 0;
    }
    li {
        list-style-type: none;
        word-wrap: break-word;
        margin-bottom:10px;

    }
    table {
        @extend .table;
        @extend .table-condensed;
        @media (min-width: 768px) and (max-width: 979px) {
            th,td { padding: 3px 2px; }
        }
    }
}

.widget-title {
    font-size: $baseFontSize * 1.7; // Bootstrap Variable
    line-height: $baseLineHeight * 1.3;
}
.widget_rss {
    li { margin-bottom:20px; }
}
.widget_search {
    .search-query { max-width: 90%; }
}
// Tribe image widget styles
.widget_sp_image {
    background-color: #fff;
    padding:0;
    img {
        margin-bottom:10px;
    }
}

// Omni Widget Styles
.widget-area {
  margin-top: 30px;
  @media ( max-width:979px ) {
      width: 100%;
      margin-left: 10px;
  }
  @media( max-width:767px ) {
      margin-left: 0;
  }
  h4.widget-title {
    margin: 2px 0 10px 6px;
    font-weight: 600;
    font-size: 20px;
    color: #08C;
  }

  .accordion-group {
    @include border-radius(0);
    margin-bottom: 7px;

    a.accordion-toggle {
      padding: 4px 6px;
      font-size: 14px;
      line-height: 19px;
      color: #1e253a;
      font-weight: bold;
      &:after {
        content: "\005B\00a0\2013\00a0\005D";
        position: relative;
        float: right;
        @media( min-width:1200px ) {
          right: 8px;
        }
      }
      &:hover {
        text-decoration: none;
      }
      &.collapsed {
        &:after {
          content: "\005B\00a0\002B\00a0\005D";
        }
      }
      @media ( min-width:1200px ) {
          font-size: 17px;
      }
    }

    .accordion-inner {
      color: #08C;
      padding: 5px 6px;
      font-weight: 600;
      border-top: 0;
    }
  }

  input.search-query {
    padding: 4px 0;
    border-color: #c4c6cb;
    margin-top: 8px;
    width: 99%;
  }

  .omni-button {
    margin-top: 15px;
  }
}
